src/deployment/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_teams_name": {
            "defaultValue": "teams",
            "type": "String"
        },
        "workflows_custom_vision_app_name": {
            "defaultValue": "custom-vision-app",
            "type": "String"
        },
        "connections_onedriveforbusiness_name": {
            "defaultValue": "onedriveforbusiness",
            "type": "String"
        },
        "integrationAccounts_polar_bear_account_name": {
            "defaultValue": "polar-bear-account",
            "type": "String"
        },
        "workflows_untagged_images_notification_name": {
            "defaultValue": "untagged-images-notification",
            "type": "String"
        },
        "onedriveforbusiness_email" : {
            "defaultValue": "",
            "type": "string"
        },
        "customvision_projectid" : {
            "defaultValue": "",
            "type": "string"
        },
        "customvision_trainingkey" : {
            "defaultValue": "",
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/integrationAccounts",
            "apiVersion": "2016-06-01",
            "name": "[parameters('integrationAccounts_polar_bear_account_name')]",
            "location": "eastus",
            "sku": {
                "name": "Free"
            },
            "properties": {
                "state": "Enabled"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_onedriveforbusiness_name')]",
            "location": "eastus",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('onedriveforbusiness_email')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/ca958577-a94e-4b72-89b4-1f348d4864a3/providers/Microsoft.Web/locations/eastus/managedApis/', parameters('connections_onedriveforbusiness_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_teams_name')]",
            "location": "eastus",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('onedriveforbusiness_email')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/ca958577-a94e-4b72-89b4-1f348d4864a3/providers/Microsoft.Web/locations/eastus/managedApis/', parameters('connections_teams_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_custom_vision_app_name')]",
            "location": "eastus",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_onedriveforbusiness_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "project-id": {
                            "defaultValue": "[parameters('customvision_projectid')]",
                            "type": "String"
                        },
                        "training-key": {
                            "defaultValue": "[parameters('customvision_trainingkey')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_a_file_is_created": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            },
                            "metadata": {
                                "b!oqyZc_WZyUqWq139gqCmadcRE3qNPWRIqb0W5r2m24tmt03SBh7iQrlJTC2822oR.01IQLNBGLZEWWGRR7XZBD242LOROIZFKI7": "/project15-collab/ToProcess"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/triggers/onnewfile",
                                "queries": {
                                    "folderId": "b!oqyZc_WZyUqWq139gqCmadcRE3qNPWRIqb0W5r2m24tmt03SBh7iQrlJTC2822oR.01IQLNBGLZEWWGRR7XZBD242LOROIZFKI7"
                                }
                            }
                        }
                    },
                    "actions": {
                        "HTTP": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "body": "@binary(triggerBody())",
                                "headers": {
                                    "Content-Type": "application/octet-stream",
                                    "Training-Key": "@parameters('training-key')"
                                },
                                "method": "POST",
                                "uri": "https://eastus.api.cognitive.microsoft.com/customvision/v3.3/Training/projects/@{parameters('project-id')}/images"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "onedriveforbusiness": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_onedriveforbusiness_name'))]",
                                "connectionName": "onedriveforbusiness",
                                "id": "/subscriptions/ca958577-a94e-4b72-89b4-1f348d4864a3/providers/Microsoft.Web/locations/eastus/managedApis/onedriveforbusiness"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_untagged_images_notification_name')]",
            "location": "eastus",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/integrationAccounts', parameters('integrationAccounts_polar_bear_account_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_teams_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "integrationAccount": {
                    "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('integrationAccounts_polar_bear_account_name'))]"
                },
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "project-id": {
                            "defaultValue": "[parameters('customvision_projectid')]",
                            "type": "String"
                        },
                        "training-key": {
                            "defaultValue": "[parameters('customvision_trainingkey')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "GetUntaggedImagesCount": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Http",
                            "inputs": {
                                "headers": {
                                    "Content-Type": "application/json",
                                    "Training-key": "@parameters('training-key')"
                                },
                                "method": "GET",
                                "uri": "https://eastus.api.cognitive.microsoft.com/customvision/v3.3/Training/projects/@{parameters('project-id')}/images/untagged/count"
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "For_each": {
                                    "foreach": "@body('Parse_JSON')",
                                    "actions": {
                                        "FirstTagName": {
                                            "runAfter": {
                                                "Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@variables('tags')?[0]?.name"
                                        },
                                        "If_equal_to_first_tag": {
                                            "actions": {
                                                "TagImage_as_Tag_#1": {
                                                    "runAfter": {
                                                        "Tag_#1": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "body": {
                                                            "tags": [
                                                                {
                                                                    "imageId": "@{items('For_each')['id']}",
                                                                    "tagId": "@{outputs('Tag_#1')}"
                                                                }
                                                            ]
                                                        },
                                                        "headers": {
                                                            "Training-key": "@parameters('training-key')"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://eastus.api.cognitive.microsoft.com/customvision/v3.3/Training/projects/@{parameters('project-id')}/images/tags"
                                                    }
                                                },
                                                "Tag_#1": {
                                                    "runAfter": {},
                                                    "type": "Compose",
                                                    "inputs": "@variables('tags')?[0]?.id"
                                                }
                                            },
                                            "runAfter": {
                                                "FirstTagName": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "TagImage_as_Tag_#2": {
                                                        "runAfter": {
                                                            "Tag_#2": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "Http",
                                                        "inputs": {
                                                            "body": {
                                                                "tags": [
                                                                    {
                                                                        "imageId": "@{items('For_each')['id']}",
                                                                        "tagId": "@{outputs('Tag_#2')}"
                                                                    }
                                                                ]
                                                            },
                                                            "headers": {
                                                                "Training-key": "@parameters('training-key')"
                                                            },
                                                            "method": "POST",
                                                            "uri": "https://eastus.api.cognitive.microsoft.com/customvision/v3.3/Training/projects/@{parameters('project-id')}/images/tags"
                                                        }
                                                    },
                                                    "Tag_#2": {
                                                        "runAfter": {},
                                                        "type": "Compose",
                                                        "inputs": "@variables('tags')?[1]?.id"
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@outputs('FirstTagName')",
                                                            "@body('Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response').submitActionId"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response": {
                                            "runAfter": {},
                                            "type": "ApiConnectionWebhook",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "messageBody": "{\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.2\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"You have new untagged images\",\n            \"size\": \"Medium\",\n            \"weight\": \"Bolder\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Is that an image of a polar bear?\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"Image\",\n            \"url\": \"@{items('For_each')['originalImageUri']}\"\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"Yes\",\n            \"id\": \"polar-bear\",\n            \"data\": \"polar-bear\"\n        },\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"No\",\n            \"id\": \"not-polar-bear\",\n            \"data\": \"not-polar-bear\"\n        }\n    ]\n}",
                                                        "recipient": {
                                                            "to": "[parameters('onedriveforbusiness_email')]"
                                                        },
                                                        "shouldUpdateCard": true,
                                                        "updateMessage": "Thank you for tagging the image."
                                                    },
                                                    "notificationUrl": "@{listCallbackUrl()}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "path": "/flowbot/actions/flowcontinuation/recipienttypes/user/$subscriptions"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach",
                                    "runtimeConfiguration": {
                                        "concurrency": {
                                            "repetitions": 10
                                        }
                                    }
                                },
                                "GetAllTags": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "headers": {
                                            "Training-key": "@parameters('training-key')"
                                        },
                                        "method": "GET",
                                        "uri": "https://eastus.api.cognitive.microsoft.com/customvision/v3.3/Training/projects/@{parameters('project-id')}/tags"
                                    }
                                },
                                "GetAllTagsResult": {
                                    "runAfter": {
                                        "GetAllTags": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('GetAllTags')",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "description": {},
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "imageCount": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "name",
                                                    "description",
                                                    "type",
                                                    "imageCount"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    }
                                },
                                "GetAllUntaggedImages": {
                                    "runAfter": {
                                        "Initialize_Tags_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "headers": {
                                            "Training-key": "@parameters('training-key')"
                                        },
                                        "method": "GET",
                                        "uri": "https://eastus.api.cognitive.microsoft.com/customvision/v3.3/Training/projects/@{parameters('project-id')}/images/untagged"
                                    }
                                },
                                "Initialize_Tags_variable": {
                                    "foreach": "@body('GetAllTagsResult')",
                                    "actions": {
                                        "Append_to_array_variable": {
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "tags",
                                                "value": "@items('Initialize_Tags_variable')"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "GetAllTagsResult": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Parse_JSON": {
                                    "runAfter": {
                                        "GetAllUntaggedImages": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('GetAllUntaggedImages')",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "created": {
                                                        "type": "string"
                                                    },
                                                    "height": {
                                                        "type": "integer"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "originalImageUri": {
                                                        "type": "string"
                                                    },
                                                    "resizedImageUri": {
                                                        "type": "string"
                                                    },
                                                    "thumbnailUri": {
                                                        "type": "string"
                                                    },
                                                    "width": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "created",
                                                    "width",
                                                    "height",
                                                    "resizedImageUri",
                                                    "thumbnailUri",
                                                    "originalImageUri"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@triggerBody()",
                                                0
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "tags",
                                        "type": "array"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_teams_name'))]",
                                "connectionName": "teams",
                                "id": "/subscriptions/ca958577-a94e-4b72-89b4-1f348d4864a3/providers/Microsoft.Web/locations/eastus/managedApis/teams"
                            }
                        }
                    }
                }
            }
        }
    ]
}